a {
  color: #3baea0;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.App h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
  font-weight: 600;
  font-family: fantasy;
}
.App-header {
  margin-top: 30px;
}

.App-logo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}
@media (max-width: 570px) {
  .App h1 {
    font-size: 28px;
  }
  .App-logo {
    max-width: 150px;
  }
  .App-footer {
    font-size: 14px;
    margin-top: 0;
  }
}
