.Dictionary section {
  background: #f2f9f1;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgb(0 0 0 /10%);
  margin: 20px 0;
}
.Dictionary h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.Dictionary input {
  width: 85%;
  border-radius: 6px;
  padding: 7px 10px;
  color: #333;
  border: 1px solid #ddd;
}
.Dictionary button {
  background-color: rgb(215, 214, 214);
  border-radius: 6px;
  padding: 6px 31px;
  color: #312727;
  margin: 0 8px;
  border: 1px solid #ddd;
}
.Dictionary button:hover {
  opacity: 0.7;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
@media (max-width: 570px) {
  .Dictionary h3 {
    text-align: center;
  }
  .Dictionary input {
    width: 65%;
  }
  .Dictionary button {
    font-size: 15px;
    padding: 7.5px 14px;
  }

  .Dictionary .hint {
    text-align: center;
  }
}
