.Phonetic .phonetic-text {
  font-size: 18px;
  margin-bottom: 8px;
  opacity: 0.8;
}
.Phonetic button {
  background-color: rgb(215, 214, 214);
  border: 1px solid rgb(183, 183, 183);
  border-radius: 50%;
  color: #312727;
  font-size: 20px;
  line-height: 0.6;
  margin-right: 12px;
  padding: 8px;
  transition: 200ms all ease-in-out;
}
.Phonetic button:hover {
  background-color: rgb(154, 146, 146);
  color: rgb(243, 242, 242);
}
@media (max-width: 570px) {
  .Phonetic .phonetic-text {
    font-size: 14px;
  }
  .Phonetic button {
    font-size: 15px;
  }
}
